<!DOCTYPE html>
<html>
<head>
  <title>Burger Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #fff !important;">
<header>

  <div class="page-header headermain">
    <div style="position: relative;background-color: #145a8b">
    <div class="bk-top-header headerburger">
      <div class="container">
        <div class="navbar-header">
          <%if device_type == :mobile %>
              <div class="m-logo-header"></div>

          <%else%>
              <div class="logo-header "></div>
          <%end%>
         <!-- <%if device_type != :mobile %>
              <a href="/home/locations"> <div class="home-login-poniter"></div></a>


          <%end%>-->
          <form  action="/home/search" >
          <%if device_type == :mobile %>
              <div class="m-search-home">
                <input  type="button"/>
              </div>
          <%else%>
              <div class="search-home">
                <input name="keyword" placeholder="search" type="text"/>
                <input type="submit" class="button-search-submit" value="">
              </div>
          <%end%>
            </form>


          <div class="button-review">
            <input type="button" value="REVIEW" name="REVIEW">
          </div>



            <% if user_signed_in? %>
              <a href="/home/userprofile?id=<%=current_user.id%>">
                <div class="button-profile">
                <%= image_tag(@profile.avatar.url(:thumb), :id=>"profile-user-image", :class=>"pull-right img-responsive img-circle",:style=>"width:40px") %>
                </div>
                  </a>
              <%else%>
              <a href="#">
                <div class="button-profile">
                    <%= image_tag("/Uploads/avatar/avatar.png") %>
                </div>
              </a>
            <%end%>


        </div>


      </div>
    </div>
    <div class="bk-header bk-header-burgerprofile" style="background-image:url('/Uploads/banner/02.png') ">



    </div>
    <div class="bk-content-header bk-content-header-burgerprofile">
      <div class="number-bk-content-header">
        <div class="item-noline-number"></div>
        <div class="item-line-number">
          <div class="item-no"></div>
          <div class="item-nnumber"><%=@avrage%></div>
          <div class="item-no"></div>
        </div>
        <div class="item-noline-number"></div>
      </div>
      <div class="text-bk-content-header text-burgerprofile">
        <%=Product.where(id: params[:id]).first().name%>
      </div>

      <div class="clearfix"></div>
      <div class="bur-text-bk-content-header">
        <%=Product.where(id: params[:id]).first().restaurant.name%>

      </div>
      <div class="img-text-bk-content-header downburgerprofile"></div>
    </div>
    <div class="bk-content-header-bottom header-bottom-bur">
      <div class="container">
          <div class="item-text-bottom" style="text-align: right;padding-right: 20px">reviews</div>


        <div class="item-text-bottom" style="text-align: left;padding-left: 20px">views</div>
        <div class="clearfix"></div>
        <div class="item-number-bottom" style="text-align: right;padding-right: 20px"><%= number_with_delimiter(@countreview.count()) %></div>

        <div class="item-number-bottom" style="text-align: left;padding-left: 20px"><%=number_with_delimiter(@productdetails.numviews) %></div>
        <div class="clearfix"></div>
      </div>
    </div>
    </div>
    <div class="menu-top-header">
      <div class="container">

        <div class="container-menu-add">

          <div class="full-noline-bur"></div>

          <div class="item-menu-top-header-bur"><a href="/home/review?product_id=<%=params[:id]%>" class="bur-review" >REVIEW </a></div>
         <!-- <div class="no-line-bur"></div>-->

          <!--<div class="item-menu-top-header-bur"><a href="#" class="bur-addtolist">ADD TO LIST </a></div>-->
          <div class="no-line-bur"></div>

          <div class="item-menu-top-header-bur"><a href="#" class="bur-share">SHARE </a></div>

          <div class="clearfix"></div>

        </div>

      </div>
    </div>
  </div>
</header>
<%= yield %>

</body>
</html>
