<!DOCTYPE html>
<html>
<head>
  <title>Burger Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body style="background: #fff !important;">
<header>

  <div class="page-header headermain">
    <div style="position: relative;background-color: #145a8b">
    <div class="bk-top-header headerburger">
      <div class="container">
        <div class="navbar-header">
          <%if device_type == :mobile %>
              <div class="m-logo-header"></div>

          <%else%>
              <a href="http://127.0.0.1:3000/"><div class="logo-header "></div></a>
          <%end%>
         <!-- <%if device_type != :mobile %>
              <a href="/home/locations"> <div class="home-login-poniter"></div></a>


          <%end%>-->
          <form  action="/home/search" >
          <%if device_type == :mobile %>
              <div class="m-search-home">
                <input  type="button"/>
              </div>
          <%else%>
              <div class="search-home">
                <input name="keyword" placeholder="search" type="text"/>
                <input type="submit" class="button-search-submit" value="">
              </div>
          <%end%>
            </form>


          <div class="button-review">
            <a href="/home/review">
                <input type="button" value="REVIEW" name="REVIEW">
            </a>
          </div>

            <% if user_signed_in? %>
              <a href="/home/userprofile?id=<%=current_user.id%>">
                <div class="button-profile">
                <%= image_tag(@profile.avatar.url(:thumb), :id=>"profile-user-image", :class=>"pull-right img-responsive img-circle",:style=>"width:40px") %>
                </div>
                  </a>
              <%else%>
              <a href="#">
                <div class="button-profile">
                    <%= image_tag("/Uploads/avatar/avatar.png") %>
                </div>
              </a>
            <%end%>
          <%if user_signed_in? %>
              <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete,:class=>"pull-right",:id=>"btn-logout",:style=>"line-height:62px") %>

          <%end%>

        </div>


      </div>
    </div>
    <div class="bk-header bk-header-burgerprofile" style="background-image:url('/Uploads/banner/02.png') ">



    </div>
    <div class="bk-content-header bk-content-header-burgerprofile">
      <div class="number-bk-content-header">
        <div class="item-noline-number"></div>
        <div class="item-line-number">
          <div class="item-no"></div>
          <div class="item-nnumber"><%=@avrage%></div>
          <div class="item-no"></div>
        </div>
        <div class="item-noline-number"></div>
      </div>
      <div class="text-bk-content-header text-burgerprofile">
        <%=Product.where(id: params[:id]).first().name%>
      </div>

      <div class="clearfix"></div>
      <div class="bur-text-bk-content-header">
        <%=Product.where(id: params[:id]).first().restaurant.name%>

      </div>
      <div class="img-text-bk-content-header downburgerprofile"></div>
    </div>
    <div class="bk-content-header-bottom header-bottom-bur">
      <div class="container">
          <div class="item-text-bottom" style="text-align: right;padding-right: 20px">reviews</div>


        <div class="item-text-bottom" style="text-align: left;padding-left: 20px">views</div>
        <div class="clearfix"></div>
        <div class="item-number-bottom" style="text-align: right;padding-right: 20px"><%= number_with_delimiter(@countreview.count()) %></div>

        <div class="item-number-bottom" style="text-align: left;padding-left: 20px"><%=number_with_delimiter(@productdetails.numviews) %></div>
        <div class="clearfix"></div>
      </div>
    </div>
    </div>
    <div class="menu-top-header">
      <div class="container">

        <div class="container-menu-add">

          <div class="full-noline-bur"></div>

          <div class="item-menu-top-header-bur"><a href="/home/review?product_id=<%=params[:id]%>" class="bur-review" >REVIEW </a></div>
         <!-- <div class="no-line-bur"></div>-->

          <!--<div class="item-menu-top-header-bur"><a href="#" class="bur-addtolist">ADD TO LIST </a></div>-->
          <div class="no-line-bur"></div>

          <div class="item-menu-top-header-bur">
            <a href="#" class="bur-share" data-toggle="modal" data-target="#myModal<%=params[:id] %>">SHARE </a>
          </div>

          <div class="clearfix"></div>

        </div>

      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal<%=params[:id] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="top:70px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Share Burgers</h4>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Email" aria-controls="Email" role="tab" data-toggle="tab">Email</a></li>
            <li role="presentation"><a href="#Facebook" aria-controls="Facebook" role="tab" data-toggle="tab">Facebook</a></li>
            <li role="presentation"><a href="#Twiter" aria-controls="Twiter" role="tab" data-toggle="tab">Twiter</a></li>

          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Email" style="padding-left: 10px;padding-top: 10px">

              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Email:</label>
                  <input type="text" class="form-control" id="recipient-name-<%=params[:id]%>">
                  <span id="error-email-<%=params[:id]%>" style="color: red"></span>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Link:</label>
                  <input type="text" value="/home/BurgerProfile/<%=params[:id]%>"  disabled="disabled" class="form-control" id="link-name-<%=params[:id]%>">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text-<%=params[:id]%>"></textarea>
                  <span id="error-message-<%=params[:id]%>" style="color: red"></span>
                </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="sendmailaction(<%=params[:id]%>)" class="btn btn-primary">Send Email</button>
                <span id="showloadding_<%=params[:id]%>" style="display: none" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Facebook" style="padding:20px;height: 400px">

              <div id="fb-root"></div>
              <script>

                  (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1524474791135285&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-send"  data-href="<%=request.original_url %>" data-width="300px" data-colorscheme="light"></div>

             <!-- <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">To:</label>
                  <input type="text" class="form-control" id="recipient-name-<%=params[:id]%>">
                  <span id="error-email-<%=params[:id]%>" style="color: red"></span>

                </div>

                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text-<%=params[:id]%>"></textarea>
                  <span id="error-message-<%=params[:id]%>" style="color: red"></span>
                </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="sendmailaction(<%=params[:id]%>)" class="btn btn-primary">Send Message</button>
                <span id="showloadding_<%=params[:id]%>" style="display: none" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              </div>-->

            </div>
            <div role="tabpanel" class="tab-pane" id="Twiter" style="padding: 20px">

              <a class="twitter-share-button"
                 href="https://twitter.com/share"
                 data-url="<%=request.original_url %>"
                 data-counturl="https://dev.twitter.com/web/tweet-button"
                 data-count="vertical">
                Tweet
              </a>
              <script type="text/javascript">
                  window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
              </script>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</header>
<%= yield %>

</body>
</html>
