<div class="row myprofile-product">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/home/BurgerProfile"> <div class="myprofile-product-top">
      <%= image_tag(myprofile_product.images.url(:thumb), class: 'img-responsive myprofile-product-image') %>
      <%=  image_tag 'plus-white.png', class: 'myprofile-sign' %>
      <div class="myprofile-layer-product-image"></div>
    </div></a>
    <div class="myprofile-product-center">
      <span class="myprofile-product-score"><%=  myprofile_product.get_review_score.round(1) %></span>
              <span class="myprofile-product-review">
                <h5>REVIEWS</h5>
                <h6>(+<%= myprofile_product.get_reviewers.count %>)</h6>
              </span>
    </div>
    <div class="myprofile-product-bottom">
     <a href="/home/BurgerProfile"> <h4><%= myprofile_product.name %></h4></a>
      <h5><%= myprofile_product.restaurant.name %></h5>
    </div>
  </div>
  <!--End product-image-->
</div>
<!-- End row product -->