<div id="main-title" class="row center-block profile-main-title">
  <h1 id="main-title-body">PROFILE INFO</h1>
  <div id="main-bar-color" class="center-block"></div>
  <div class="info-details row">
    <h4 class="pull-left">Country</h4>
    <h4 class="pull-right">

      <div data-datatype="text"  class="meta-value">
        <select onchange="changecountry()" id="countreyhhhhhh">
          <%
             _idcountry=0
             _idfile=0
             _select=""
             if @coutry.length>0
               _idcountry=@coutry.first().country_id
               _idfile=@coutry.first().id
             end
             @countryall.each do |item|
              if item.id==_idcountry
                _select="selected"

              else
                _select=""
               end
              %>
            <option <%=_select%> value="<%=item.id%>"><%=item.name%></option>
            <%end
          %>
        </select>
        <% if @isMyprofile %>
           <img  class="icon-edit-meta" onclick="icon_edit_meta_select_country(<%=_idfile%>,'country')" src="/assets/icon-edit.png" />
        <% end %>
      </div>
    </h4>
  </div>
  <div class="info-details row">
    <h4 class="pull-left">City</h4>
    <h4 class="pull-right">

      <div data-datatype="text"  class="meta-value">
        <select id="citytybbbbb">
            <option value="0">no result</option>
        </select>
        <% if @isMyprofile %>
           <%
                _idcountry=0
                _idcityyty=0
                if @cityddddd.length>0
                    _idcountry=@cityddddd.first().country_id
                    _idcityyty=@cityddddd.first().id
                end
            %>
            <input type="hidden" value="<%=_idcountry%>" id="sdfghshdfgsdfs">
           <img  class="icon-edit-meta" onclick="icon_edit_meta_select_city(<%=_idcityyty%>,'city')" src="/assets/icon-edit.png" />
        <% end %>
      </div>
    </h4>
  </div>
  <% @meta.each do |m| %>
      <% user_meta = m.get_meta_user(@friend.id) %>
      <div class="info-details row">
        <h4 class="pull-left"><%= m.name %></h4>
        <h4 class="pull-right">

          <div data-datatype="<%= user_meta.meta.datatype %>" data-usermetaid="<%= user_meta.id %>" class="meta-value">
            <% if m.datatype == "url"%>
                <%
                _string=user_meta.value
                _string=_string.to_s.gsub("www.","")
                _string=_string.to_s.gsub("https://","")
                _string=_string.to_s.gsub("http://","")
                _string=_string.to_s.split(".");

                   if _string.length>1
                     _a=_string[0]
                   else
                     _a=user_meta.value
                   end
                %>
               <a class="value" target="_blank" href="<%= user_meta.value %>"><%=_a%></a>
            <% else %>
               <span class="value"><%= user_meta.value %></span>
            <% end %>
          </div>

          <% if @isMyprofile %>

              <img id="icon-edit-meta-<%= user_meta.id %>" class="icon-edit-meta" onclick="icon_edit_meta(this.id,'<%=user_meta.value%>')" src="/assets/icon-edit.png" />
              <img id="icon-save-meta-<%= user_meta.id %>" class="icon-save-meta"  onclick="icon_save_meta(<%= user_meta.id %>,'<%=user_meta.value%>')" src="/assets/icon-save.png" />
          <% end %>

        </h4>
      </div>
  <% end %>
</div>
<!--End main-title-->
<script>
  $(document).ready(function () {
      var _id=$("#countreyhhhhhh").val();
      var _idiiii=$("#sdfghshdfgsdfs").val();
      $.post("/home/getcityByIDCountry",{idcountry:_id},function(){

      }).success(function(data){
          var _html="";
          if(data.data.length>0)
          {

              for(var i=0;i<data.data.length;i++)
              {
                 var  _select="";
                  if(_idiiii==data.data[i].id)
                  {
                      _select="selected";
                  }
                  else
                  {
                      _select="";
                  }
                  _html+="<option "+_select+" value='"+data.data[i].id+"'>"+data.data[i].name+"</option>";
              }
          }
          else
          {
              _html+="<option value='0'>no result</option>";
          }
          $("#citytybbbbb").html(_html)
      });
  })
  function changecountry()
  {
      var _id=$("#countreyhhhhhh").val();
      $.post("/home/getcityByIDCountry",{idcountry:_id},function(){

      }).success(function(data){
          var _html="";
          if(data.data.length>0)
          {

              for(var i=0;i<data.data.length;i++)
              {
                  _html+="<option value='"+data.data[i].id+"'>"+data.data[i].name+"</option>";
              }
          }
          else
          {
              _html+="<option value='0'>no result</option>";
          }
            $("#citytybbbbb").html(_html)
      });
  }
</script>