<%
   if current_user.blank?
     is_reviewed = false
   else
    is_reviewed = product.check_reviewed(current_user.id)
   end
%>
<div class="row product">

  <!--<%= image_tag 'plus-white.png', class: 'btn-img-sign', data: {content: "<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen active-g'>Experience planned</div><div class='text-item-show-tim'>Experience completed</div></div></div>"} %>-->

  <!--<button class="btn-img-sign" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen active-g'>Experience planned</div><div class='text-item-show-tim'>Experience completed</div></div></div>">-->
    <!--btn-->
  <!--</button>-->

  <a href="/BurgerProfile/<%=product.id %>">
    <div class="col-md-4 col-sm-4 col-xs-4 product-image">
        <%= image_tag(product.images.url(:medium), class: 'img-responsive img-product') %>
        <div class="mobile-btn-group center-block">
          <%if user_signed_in? %>
          <a href="/review?product_id=<%= product.id %>" class="link-mobile-button"><button class="mobile-button center-block">REVIEW</button></a>
          <%else%>
              <a href="#"  data-toggle="modal" data-target="#checkreview" class="link-mobile-button"><button class="mobile-button center-block">REVIEW</button></a>
          <%end%>
          <a href="/BurgerProfile/<%=product.id %>" class="link-mobile-button"><button class="mobile-button center-block">SHARE</button></a>
          <a href="/BurgerProfile/<%=product.id %>" class="link-mobile-button"><button class="mobile-button center-block">SEE COMMENT</button></a>
        </div>
      <% if(is_reviewed) %>
          <a href="/BurgerProfile/<%=product.id %>">
            <div class="layer-product-image"></div>
          </a>
      <% end %>
    </div>
  </a>
  <!--End product-image-->
  <div class="col-md-8 col-sm-8 col-xs-8 product-reviews">
    <div class="product-reviews-top">
      <p class="product-reviews-score">


        <% if action_name==='index' %>
            <span class="score"><%=  product.get_review_score.round(1) %></span>
           <!-- <span class="max-score-review">/<%=product.getMaxReview%></span>-->
            <span class="max-score-review" title="Maximum reviews">/35</span>
         <%else%>
            <span class="score"><%=  product.get_review_score.round(1) %></span>
            <span class="min-score-review" title="Minimum reviews">/<%=product.getMinReview%></span>
            <!--<span class="max-score-review">/<%=product.getMaxReview%></span>-->
            <span class="max-score-review" title="Maximum reviews">/35</span>
        <%end%>

      </p>

      <div class="product-reviews-people">
        <h6>REVIEWS</h6>

        <div class="list-avatars">

          <% product.get_reviewers.limit(5).each  do |review| %>
              <%if user_signed_in? %>
                    <%= link_to image_tag(review.user.profile.avatar.url(:thumb), :class=>"img-circle avatar-reviewer"), {:controller => :home, :action => :userprofile, :id => review.user_id}, :class => "link-avatar-viewer" %>
                <%else%>
                  <a class="link-avatar-viewer" href="#" data-toggle="modal" data-target="#checkreviewuserprodile">
                    <%=image_tag(review.user.profile.avatar.url(:thumb), :class=>"img-circle avatar-reviewer")%>
                  </a>
              <%end%>
          <% end %>

          <span class="num-reviewer pull-right">(+<%= product.get_reviewers.count %>)</span>
        </div>
        <!--End list-avatars-->
      </div>
      <!--End product-reviews-people-->
    </div>
    <!--End product-reviews-top-->
    <!-- Modal -->
    <div class="modal fade" id="checkreviewuserprodile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="top:70px">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Notification</h4>
          </div>
          <div class="modal-body">
            <p style="color: #666">You must be logged in to review a profile. Please sign-in or create an account</p>
          </div>

        </div>
      </div>
    </div>
    <div class="product-reviews-center">

      <a href="/BurgerProfile/<%=product.id %>"><h3 class="product-reviews-center-top"><%= product.name %></h3></a>

      <h4 class="product-reviews-center-bottom"><%= product.restaurant.name %></h4>
      <div class="pull-right circles">
        <img src="/assets/circle-empty.png">
        <img src="/assets/circle-empty.png">
        <img src="/assets/circle-empty.png">
      </div>
    </div>
    <!--End product-reviews-center-->

    <div class="product-btn-group">
      <%if user_signed_in? %>
      <a href="/review?product_id=<%= product.id %>">
        <button class="btn-control btn-review">
          <% if(is_reviewed) %>
            <span class="icon"></span>
          <% end %>
          REVIEW
        </button>
      </a>
          <%else%>
          <a href="#"  data-toggle="modal" data-target="#checkreview">
            <button class="btn-control btn-review">
              <% if(is_reviewed) %>
                  <span class="icon"></span>
              <% end %>
              REVIEW
            </button>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="checkreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelggggg" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabelggggg">Notification</h4>
                </div>
                <div class="modal-body loginnnnnn">
                  <p style="color: #666">You must be logged in to review a burger. Please sign-in or create an account</p>
                </div>

              </div>
            </div>
          </div>
      <%end%>

      <button class="btn-control btn-share" data-toggle="modal" data-target="#myModal<%=product.id %>">SHARE</button>
    </div>
    <!--End product-btn-group-->

  </div>
  <!-- End product-reviews -->
  <!-- Modal -->
  <div class="modal fade" id="myModal<%=product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="top:70px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Share Burgers</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Email<%=product.id%>" aria-controls="Email" role="tab" data-toggle="tab">Email</a></li>
            <li role="presentation"><a href="#Facebook<%=product.id%>" aria-controls="Facebook" role="tab" data-toggle="tab">Facebook</a></li>
            <li role="presentation"><a href="#Twiter<%=product.id%>" aria-controls="Twiter" role="tab" data-toggle="tab">Twiter</a></li>

          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Email<%=product.id%>" style="padding-left: 10px;padding-top: 10px">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Email:</label>
                  <input type="text" class="form-control" id="recipient-name-<%=product.id%>">
                  <span id="error-email-<%=product.id%>" style="color: red"></span>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Link:</label>
                  <input type="text" value="/BurgerProfile/<%=product.id%>"  disabled="disabled" class="form-control" id="link-name-<%=product.id%>">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text-<%=product.id%>">I just crushed the <%= product.name%> at <%= product.restaurant.name%>.Check out my <%=root_url %>BurgerProfile/<%=product.id%></textarea>
                  <span id="error-message-<%=product.id%>" style="color: red"></span>
                </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="sendmailaction(<%=product.id%>)" class="btn btn-primary">Send Email</button>
                <span id="showloadding_<%=product.id%>" style="display: none" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Facebook<%=product.id%>" style="padding:20px;height: 400px">


              <div class="fb-send"  data-href="<%=root_url %>BurgerProfile/<%=product.id%>" data-width="300px" data-colorscheme="light"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Twiter<%=product.id%>" style="padding: 20px">

              <a class="twitter-share-button"
                 href="https://twitter.com/share?text=I just crushed the <%= product.name%> at <%= product.restaurant.name%>.Check out my &url=<%=root_url %>BurgerProfile/<%=product.id%>"
                 data-url="<%=root_url %>"
                 data-counturl="<%=root_url %>"
                 data-count="vertical">
                Tweet
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
   /* $(document).on("ready page:load", function(){
        FB.XFBML.parse();
        $.ajax({ url: '//platform.twitter.com/widgets.js', dataType: 'script', cache:true});
    });*/
</script>

<!-- End row product -->