
<script>

    jQuery(document).ready(function ($) {
        var captionTransitions = [];

        var t_imagem = { $Duration:700,$Opacity:1.8 };
       // var t_legenda = {

         //   $Duration:400,
        //    $During:{$Left:[0.3,0.7]}
        //    ,$FlyDirection:2,
        //    $Easing:{$Left:$JssorEasing$.$EaseInCubic,$Opacity:$JssorEasing$.$EaseLinear},$ScaleHorizontal:0.3,$Opacity:2

      //  };

        captionTransitions["IMG"] = [[t_imagem]];
       // captionTransitions["TXT"] = [t_legenda];

        var options = {
            $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                $CaptionTransitions: captionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                $PlayOutMode: 3
                                               //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
            },
            $AutoPlay: true,

            $PauseOnHover: true,                               //[Optional] Whether to pause when mouse over if a slideshow is auto playing, default value is false

            $ArrowKeyNavigation: true,   			            //Allows arrow key to navigate or not
            $SlideWidth: 596,                                   //[Optional] Width of every slide in pixels, the default is width of 'slides' container
            $SlideHeight: 397,                                  //[Optional] Height of every slide in pixels, the default is width of 'slides' container
            $SlideSpacing: 30, 					                //Space between each slide in pixels
            $DisplayPieces: 3,                                  //Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 520,                                //The offset position to park slide (this options applys only when slideshow disabled).
            $StartIndex:2,
            $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            },
            $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
            }
        };

        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {
            var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
            if (parentWidth)
                jssor_slider1.$SetScaleWidth(Math.min(parentWidth, 1500));
            else
                window.setTimeout(ScaleSlider, 30);
        }

        ScaleSlider();

        if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
            $(window).bind('resize', ScaleSlider);
        }


        //if (navigator.userAgent.match(/(iPhone|iPod|iPad)/)) {
        //    $(window).bind("orientationchange", ScaleSlider);
        //}
        //responsive code end
    });
</script>
<!-- Jssor Slider Begin -->
<!-- You can move inline styles to css file or css block. -->
<%
   _kaka= @productdetails.product_images.length
    _width="1500px"
    if(_kaka<=0)
      _width="100%"
    end
%>
  <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: <%=_width%>;
          height: 397px; overflow: hidden;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: <%=_width%>; height: 397px;
            overflow: hidden;">
      <%@productdetails.product_images.each do |kkkk| %>
      <div>
        <div u="caption" t="IMG" style="position: absolute; top: 0px; left: 0px;
             width: 100%;height: 100%;   background: #ffffff">

          <%= image_tag(kkkk.image.url(:original), :u=>'image',:t=>'IMG',:width => "596px",:height => "397px") %>
          </div>
      </div>
          <%end%>

    </div>
    <div u="navigator" class="jssorb05" style="position: absolute; bottom: 0px; right: 0px;z-index: 9999">
      <!-- bullet navigator item prototype -->
      <div u="prototype" style="POSITION: absolute; WIDTH: 17px; HEIGHT: 17px;"></div>
    </div>
    <!-- Arrow Navigator Skin Begin -->
    <style>

        .jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
            position: absolute;
            cursor: pointer;
            display: block;

            overflow: hidden;
        }

        .jssora13l {
            /*background-position: -10px -35px;*/
            background: url("/images/b-4.png") no-repeat;
        }

        .jssora13r {
            /*background-position: -70px -35px;*/
            background: url("/images/b-5.png") no-repeat;
        }

        .jssora13l:hover {
            /*background-position: -130px -35px;*/
            background: url("/images/b-4.png") no-repeat;
        }

        .jssora13r:hover {
            /*background-position: -190px -35px;*/
            background: url("/images/b-5.png") no-repeat;
        }

        .jssora13ldn {
            background-position: -250px -35px;
        }

        .jssora13rdn {
            background-position: -310px -35px;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {

            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background: url("/images/b-2.png") no-repeat;
        }

        .jssorb05 div:hover, .jssorb05 .av:hover {
           /* background-position: -37px -7px;*/
            background: url("/images/b-2.png") no-repeat;
        }

        .jssorb05 .av {
            /*background-position: -67px -7px;*/
            background: url("/images/b-3.png") no-repeat;
        }

        .jssorb05 .dn, .jssorb05 .dn:hover {
            /*background-position: -97px -7px;*/
            background: url("/images/b-3.png") no-repeat;
        }
    </style>
    <% if @productdetails.product_images.length >2%>
    <!-- Arrow Left -->
        <span u="arrowleft" class="jssora13l" style="width: 40px; height: 50px; top: 189px; left: 496px;">
        </span>
    <!-- Arrow Right -->
       <span u="arrowright" class="jssora13r" style="width: 40px; height: 50px; top: 189px; right: 335px">
        </span>
    <%end%>
  </div>

<div class="container">
        <div class="details-bur-profile">
          <div class="details-title">
            <div class="detaisl-noline"></div>
            <div class="detaisl-item-titl">
              <span>the details</span>
            </div>
            <div class="detaisl-noline"></div>
          </div>
          <div class="content-deatisl-title">
            <div class="item-content-details">
              <div class="text-dataisl-item">Price</div>
              <div class="price-dataisl-item"><%=number_to_currency(@productdetails.prices)%></div>
            </div>
            <%ComponentValue.getcomponentvalue_byproductId(params[:id]).each do |k|%>

                    <div class="clear-fix"></div>
                    <div class="item-content-details">
                      <div class="text-dataisl-item"><%=k.name %></div>
                      <div class="price-dataisl-item"><%=k.getcomponentvalueBycomponentID(params[:id]) %></div>
                    </div>
            <%end%>



            <div class="clear-fix"></div>
          </div>
        </div>
    </div>

<div class="line-none" style="height: 60px"></div>
<div class="container">
  <div class="details-bur-profile">
    <div class="details-title">
      <div class="detaisl-noline"></div>
      <div class="detaisl-item-titl">
        <span>discuss this burger</span>
      </div>
      <div class="detaisl-noline"></div>
    </div>
    <div class="buttom-loadmore" align="center" style="padding-top: 15px;cursor: pointer">
      <%if user_signed_in? %>
            <div class="text-loadmore" data-toggle="modal" data-target="#exampleModal">ADD COMMENT</div>
      <%else%>
            <div class="text-loadmore" data-toggle="modal" data-target="#checkreviewfhgfjghd">ADD COMMENT</div>
          <!-- Modal -->
          <div class="modal fade" id="checkreviewfhgfjghd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="top:70px">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Notification</h4>
                </div>
                <div class="modal-body">
                  <p style="color: #666">You must be logged in in order to leave comments</p>
                </div>

              </div>
            </div>
          </div>
      <%end%>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content daaaacomnet">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Add Comment</h4>
          </div>
          <div class="modal-body">
            <%= form_tag("/home/AddComemnt", method: "post",enctype: "multipart/form-data",multipart: true,id: "addcommementtt") do %>
              <div class="form-group">
                <label for="message-text" class="control-label">Comment :</label>
                <textarea style="height: 150px" class="form-control" name="content" id="message-text"></textarea>
              </div>
              <!--<div class="form-group">
                <label for="message-text" class="control-label">Attach File :</label>
                <input type="file" name="file" class="file">

              </div>-->
                <input type="hidden" name="productid" value="<%=params[:id]%>">
            <%end%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="submiitititi" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%;float: left">
    <div style="width: 780px;height: 2px;border-bottom: 1px solid #ccc;padding-top: 18px;margin: 0 auto"></div>
    <div class="content-reviews">

      <%@scoreuser.each do |item| %>
        <% data=item.get_comment_product_byid%>

        <% if data.present? %>
      <div class="item-reviews-bur-comennt" style="padding-top: 13px">
        <div class="item-avarta">
          <%= image_tag(item.user.profile.avatar.url(:thumb),:width => 48, :height => 48,:class => 'img-circle') %>
        </div>
        <div class="item-text-reviews-comment">
          <div class="item-name-reviews-comment" lang="<%=item.user.id%>"><%=item.user.fullname %></div>
          <div class="item-clock-comment">
            <span data-livestamp="<%=item.created_at.to_time.to_i%>"></span>

          </div>
          <div class="clear-fix"></div>

          <div class="item-text-reviews-mutile">
            <span><%=data%></span></div>
          <div style="width: 100%;height: 10px;float: left"></div>
         <%
          if item.get_numlink_comment_product_byid==1%>
            <div class="like-active">
            <span>like</span>
              </div>
          <%else%>
              <div class="like-noactive">
                <span onclick="addlikecomment(<%=item.get_id_comment_product_byid %>)">like</span>
              </div>
         <%end %>

          <div class="next-comment" style=""></div>
        </div>

      </div>
              <div style="width: 780px;height: 2px;border-bottom: 1px solid #ccc;margin: 0 auto"></div>
        <%end%>
     <%end%>
      <%@comemntproduct.each do |chchch|%>
          <div class="item-reviews-bur-comennt" style="padding-top: 13px">
            <div class="item-avarta">
              <%= image_tag(chchch.user.profile.avatar.url(:thumb),:width => 48, :height => 48,:class => 'img-circle') %>
            </div>
            <div class="item-text-reviews-comment">
              <div class="item-name-reviews-comment"><%=chchch.user.fullname %></div>
              <div class="item-clock-comment">
               <span data-livestamp="<%=chchch.created_at.to_time.to_i%>"></span>
              </div>
              <div class="clear-fix"></div>

              <div class="item-text-reviews-mutile">
                <span><%=chchch.content%></span></div>
              <div style="width: 100%;height: 10px;float: left"></div>
              <%
                 if chchch.get_numlink_comment_product_byid==1%>
                  <div class="like-active">
                    <span>like</span>
                  </div>
              <%else%>
                  <div class="like-noactive">
                    <span onclick="addlikecommentUser(<%=chchch.id %>)">like</span>
                  </div>
              <%end %>

              <div class="next-comment" style="width: 100%"></div>
            </div>

          </div>
          <div style="width: 780px;height: 2px;border-bottom: 1px solid #ccc;margin: 0 auto"></div>
      <%end%>

    </div>
    </div>
  </div>

</div>
<script>
  $("#submiitititi").click(function(){
      var _comemnt=$("#message-text").val();
      if(_comemnt=="")
      {
            alert("Please Input Comment !");
          return;
      }
      else
      {
        $("#addcommementtt").submit()

      }
  });
  function addlikecomment(_id)
  {
      var data = {id: _id};

      $.ajax({
          type: "POST",
          url: '/home/addlike',
          contentType: "application/json; charset=utf-8",
          dataType: 'json',
          data: JSON.stringify(data),
          success: function(data, status)
          {

              console.log('success');
              window.location=document.URL;
          },
          error: function(data, status)
          {
              console.log('error');
          }
      });

  }
  function addlikecommentUser(_id)
  {
      var data = {id: _id};

      $.ajax({
          type: "POST",
          url: '/home/addlikeComemnt',
          contentType: "application/json; charset=utf-8",
          dataType: 'json',
          data: JSON.stringify(data),
          success: function(data, status)
          {

              console.log('success');
              window.location=document.URL;
          },
          error: function(data, status)
          {
              console.log('error');
          }
      });
  }
  function geteventclick(){
      alert("ok")
  }
  $(document).ready(function () {
      $("#facebook").removeClass("hidden_elem")
  })
      /*  $(document).ready(function(){
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '1524474791135285', // App ID

                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    oauth: true, // enable OAuth 2.0
                    xfbml: true  // parse XFBML
                });

                FB.getLoginStatus(function (response) {
                    console.log(response)
                    if (response.status === 'connected') {
                        // the user is logged in and has authenticated your
                        // app, and response.authResponse supplies
                        // the user's ID, a valid access token, a signed
                        // request, and the time the access token
                        // and signed request each expire
                        var uid = response.authResponse.userID;
                        var accessToken = response.authResponse.accessToken;
                        console.log(accessToken)
                        FB.api('/me/friends', function(fbresponse){
                            console.log(fbresponse)
                            /* $("#recipient-name-8").autocomplete({
                             source : function(request, response){
                             response($.map(fbresponse.data, function(e){
                             return{
                             id : e.id,
                             name : e.name
                             }
                             }))
                             },
                             select : function(event, ui){
                             alert(ui.item.name);
                             $("#input_13").val(ui.item.name);
                             $("#input_10").val(ui.item.id);
                             return false;
                             }
                             }).data("autocomplete")._renderItem = function(ul, item){
                             return $("<li></li>")
                             .data("item.autocomplete", item)
                             .append( $("<a></a>").html(item.name) )
                             .appendTo(ul);
                             };

                        });

                    } else if (response.status === 'not_authorized') {
                        FB.login(function(response) {
                            if (response.authResponse) {
                                FB.api('/me/friends', function(fbresponse){
                                    console.log(fbresponse)
                                    /* $("#recipient-name-8").autocomplete({
                                     source : function(request, response){
                                     response($.map(fbresponse.data, function(e){
                                     return{
                                     id : e.id,
                                     name : e.name
                                     }
                                     }))
                                     },
                                     select : function(event, ui){
                                     alert(ui.item.name);
                                     $("#input_13").val(ui.item.name);
                                     $("#input_10").val(ui.item.id);
                                     return false;
                                     }
                                     }).data("autocomplete")._renderItem = function(ul, item){
                                     return $("<li></li>")
                                     .data("item.autocomplete", item)
                                     .append( $("<a></a>").html(item.name) )
                                     .appendTo(ul);
                                     };

                                });
                            } else {
                                //login cancelled or not every permission accepted
                            }
                        }, {scope: 'user_friends'}); //additional permissions
                    } else {
                        FB.login(function(response) {
                            if (response.authResponse) {
                                FB.api('/me/friends', function(fbresponse){
                                    console.log(fbresponse)
                                    /* $("#recipient-name-8").autocomplete({
                                     source : function(request, response){
                                     response($.map(fbresponse.data, function(e){
                                     return{
                                     id : e.id,
                                     name : e.name
                                     }
                                     }))
                                     },
                                     select : function(event, ui){
                                     alert(ui.item.name);
                                     $("#input_13").val(ui.item.name);
                                     $("#input_10").val(ui.item.id);
                                     return false;
                                     }
                                     }).data("autocomplete")._renderItem = function(ul, item){
                                     return $("<li></li>")
                                     .data("item.autocomplete", item)
                                     .append( $("<a></a>").html(item.name) )
                                     .appendTo(ul);
                                     };

                                });
                            } else {
                                //login cancelled or not every permission accepted
                            }
                        }, {scope: 'user_friends'}); //additional permissions
                    }
                });

}
        })*/
</script>