
<div class="cl"></div>
<div class="container">
<div class="content-product">
<%if device_type != :mobile %>
<div class="title-header">The top 5 </div>
    <%end%>
<div class="cl"></div>
<div class="no-line-header">
  <div class="line-no">&nbsp;</div>
  <div class="count-number-text"><%=@data.count(:all) %> burgers</div>
  <div class="line-no">&nbsp;</div>
</div>
<div class="cl"></div>
<div class="conettn-body">
<%if device_type == :mobile %>
    <% @data.each do |item| %>
        <div class="m-content-body-item">
          <div class="m-item-conettn-body">
            <a href="/home/BurgerProfile">
              <div class="m-item-img" style="position: relative">
                <%= image_tag("/Uploads/product/01.png", :class => 'img-responsive') %>
              </div>
            </a>
            <div class="item-body">
              <div class="item-reviews">
                <div class="number-reviews">
                  29.8
                </div>
                <div class="user-reviews">
                  <div class="title-reviews">Reviews</div>
                  <div class="user-data">

                    <div class="item-number-count">(+123)</div>
                    <div class="item-add" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen'>Experience planned</div><div class='text-item-show-tim active-t'>Experience completed</div></div></div>">
                      <%= image_tag("/Images/add_yellow.png") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-product-reviews">
              <a href="/home/BurgerProfile"> <div class="name-title-product-review"><%= item.productname%></div></a>
              <div class="name-title-product-review-child"><%= item.restaurantsname%></div>
            </div>
          </div>
        </div>
    <%end%>

<%else%>
    <% @data.each do |item| %>
    <div class="content-body-item">
      <div class="item-conettn-body">
        <a href="/home/BurgerProfile">
          <div class="item-img" style="position: relative">
            <%= image_tag(item.images.url(:original), :class => 'img-responsive',:style => 'border-radius:10px') %>
            <div class="tim-hover">
            </div>
          </div>
        </a>
        <div class="item-body">
          <div class="item-reviews">
            <div class="number-reviews">
              <%=  item.get_review_score.round(1) %>
            </div>
            <div class="user-reviews">
              <div class="title-reviews">Reviews</div>
              <div class="user-data">

                <% item.get_reviewers.limit(5).each  do |review| %>
                    <a href="/home/userprofile?id=1">
                      <div class="item-img-user">
                        <%= image_tag(review.user.profile.avatar.url(:thumb),:width => 35, :height => 35,:class => 'img-circle') %>
                      </div></a>

                <% end %>
                <div class="item-number-count">(+<%=item.get_reviewers.count %>)</div>
                <div class="item-add" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen'>Experience planned</div><div class='text-item-show-tim active-t'>Experience completed</div></div></div>">
                  <%= image_tag("/Images/add_yellow.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="title-product-reviews">
            <a href="/home/BurgerProfile"> <div class="name-title-product-review"><%= item.productname%></div></a>
            <div class="name-title-product-review-child"><%= item.restaurantsname%></div>
          </div>
          <div class="user-review-toolbal">
            <div class="content-body-share">
              <a href="/home/review"><div class="text-review">Reviews</div></a>
              <div class="text-review-share">share</div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <%end%>

<%end%>

</div>

</div>
</div>

