<style>
    .bk-header{
        /*background: url('<%= @cueeentr.image.url(:original) %>') no-repeat center center fixed;*/
        background-image: url('<%= @cueeentr.image.url(:original) %>');
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
    }
</style>
<div class="cl"></div>
<div class="container">
<div class="content-product">
<!--<%if device_type != :mobile %>
<div class="title-header">The top 5 </div>
    <%end%>-->
<div class="cl"></div>
<div class="no-line-header">
  <div class="line-no">&nbsp;</div>
  <div class="count-number-text"><%=@data.count(:all) %> burgers <%=@kkk%></div>
  <div class="line-no">&nbsp;</div>
</div>
<div class="cl"></div>
<div class="conettn-body">
<%if device_type == :mobile %>
    <% @data.each do |item| %>
          <%
             if current_user.blank?
               is_reviewed = false
             else
               is_reviewed = item.check_reviewed(current_user.id)
             end
          %>
        <div class="m-content-body-item">
          <div class="m-item-conettn-body">
            <a href="/home/BurgerProfile/<%=item.id %>">
              <div class="m-item-img" style="position: relative">
                <%= image_tag(item.images.url(:original), :class => 'img-responsive',:style => 'border-top-left-radius:10px;border-bottom-left-radius:10px;') %>
              </div>
              <% if(is_reviewed) %>

                    <div class="layer-product-image" style="width: 100%;height: 100%"></div>

              <% end %>
              <div class="number-reviews">
                <%=  item.get_review_score.round(1) %><span class="number-sub">/<%=item.getMaxReview%></span>
              </div>
            </a>
            <div class="item-body">
              <div class="item-reviews">
                <div class="title-product-reviews">
                  <a href="/home/BurgerProfile/<%=item.id %>"> <div class="name-title-product-review"><%= item.productname%></div></a>
                  <div class="name-title-product-review-child"><%= item.restaurantsname%></div>
                </div>
                <div class="user-reviews">
                  <div class="title-reviews">Reviews</div>
                  <div class="user-data">

                    <div class="item-number-count">(+<%=item.get_reviewers.count %>)</div>
                   <!-- <div class="item-add" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen'>Experience planned</div><div class='text-item-show-tim active-t'>Experience completed</div></div></div>">
                      <%= image_tag("/Images/add_yellow.png") %>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    <%end%>

<%else%>
    <% @data.each do |item| %>
          <%
             if current_user.blank?
               is_reviewed = false
             else
               is_reviewed = item.check_reviewed(current_user.id)
             end
          %>
    <div class="content-body-item">
      <div class="item-conettn-body">
        <a href="/home/BurgerProfile/<%=item.id %>">
          <div class="item-img" style="position: relative">
            <%= image_tag(item.images.url(:original), :class => 'img-responsive',:style => 'width:269px;height:219px;border-top-left-radius:10px;border-bottom-left-radius:10px') %>
            <% if(is_reviewed) %>

                  <div class="layer-product-image" style="height: 100% !important;"></div>

            <% end %>
          </div>
        </a>
        <div class="item-body">
          <div class="item-reviews">
            <div class="number-reviews">
              <%=  item.get_review_score.round(1) %><span class="number-sub">/<%=item.getMaxReview%></span>
            </div>
            <div class="user-reviews">
              <div class="title-reviews">Reviews</div>
              <div class="user-data">

                <%if device_type == :tablet %>
                    <% item.get_reviewers.limit(3).each  do |review| %>
                        <a href="/home/userprofile?id=<%=review.user_id%>">
                          <div class="item-img-user">
                            <%= image_tag(review.user.profile.avatar.url(:thumb),:width => 35, :height => 35,:class => 'img-circle') %>
                          </div></a>

                    <% end %>
                    <%else%>
                    <% item.get_reviewers.limit(5).each  do |review| %>
                        <a href="/home/userprofile?id=<%=review.user_id%>">
                          <div class="item-img-user">
                            <%= image_tag(review.user.profile.avatar.url(:thumb),:width => 35, :height => 35,:class => 'img-circle') %>
                          </div></a>

                    <% end %>
                <%end%>

                <div class="item-number-count">(+<%=item.get_reviewers.count %>)</div>
               <!-- <div class="item-add" data-content="<div class='show_puopt_reviews'><div class='item-show'><div class='text-item-show-yellow '>Plan my experience</div><div class='text-item-show-greeen'>Experience planned</div><div class='text-item-show-tim active-t'>Experience completed</div></div></div>">
                  <%= image_tag("/Images/add_yellow.png") %>
                </div>-->
              </div>
            </div>
          </div>
          <div class="title-product-reviews">
            <a href="/home/BurgerProfile/<%=item.id %>"> <div class="name-title-product-review"><%= item.productname%></div></a>
            <div class="name-title-product-review-child"><%= item.restaurantsname%></div>
          </div>
          <div class="user-review-toolbal">
            <div class="content-body-share">

              <a href="/home/review?product_id=<%=item.id %>">
                <div class="text-review" style="position:relative;">
                  <% if(is_reviewed) %>
                      <span class="icon"></span>
                  <% end %>
                Reviews
              </div></a>
              <div class="text-review-share">
                <button type="button" style="background: none;border: none;text-transform: uppercase"  data-toggle="modal" data-target="#myModal<%=item.id %>">
                  share
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!-- Modal -->
          <div class="modal fade" id="myModal<%=item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="top:70px">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">Share Burgers</h4>
                </div>
                <div class="modal-body">
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Email<%=item.id%>" aria-controls="Email" role="tab" data-toggle="tab">Email</a></li>
                    <li role="presentation"><a href="#Facebook<%=item.id%>" aria-controls="Facebook" role="tab" data-toggle="tab">Facebook</a></li>
                    <li role="presentation"><a href="#Twiter<%=item.id%>" aria-controls="Twiter" role="tab" data-toggle="tab">Twiter</a></li>

                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Email<%=item.id%>" style="padding-left: 10px;padding-top: 10px">
                      <form>
                        <div class="form-group">
                          <label for="recipient-name" class="control-label">Email:</label>
                          <input type="text" class="form-control" id="recipient-name-<%=item.id%>">
                          <span id="error-email-<%=item.id%>" style="color: red"></span>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="control-label">Link:</label>
                          <input type="text" value="/home/BurgerProfile/<%=item.id%>"  disabled="disabled" class="form-control" id="link-name-<%=item.id%>">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="control-label">Message:</label>
                          <textarea class="form-control" id="message-text-<%=item.id%>"></textarea>
                          <span id="error-message-<%=item.id%>" style="color: red"></span>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" onclick="sendmailaction(<%=item.id%>)" class="btn btn-primary">Send Email</button>
                        <span id="showloadding_<%=item.id%>" style="display: none" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                      </div>
                      </div>
                    <div role="tabpanel" class="tab-pane" id="Facebook<%=item.id%>" style="padding:20px;height: 400px">

                      <div id="fb-root"></div>
                      <script>

                          (function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1524474791135285&version=v2.0";
                              fjs.parentNode.insertBefore(js, fjs);
                          }(document, 'script', 'facebook-jssdk'));</script>
                      <div class="fb-send"  data-href="<%=request.original_url %>" data-width="300px" data-colorscheme="light"></div>
                      </div>
                    <div role="tabpanel" class="tab-pane" id="Twiter<%=item.id%>" style="padding: 20px">

                      <a class="twitter-share-button"
                         href="https://twitter.com/share"
                         data-url="<%=request.original_url %>"
                         data-counturl="<%=request.original_url %>"
                         data-count="vertical">
                        Tweet
                      </a>
                      <script type="text/javascript">
                          window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
                      </script>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
      <%end%>

<%end%>
<div style="width: 100%;height: 50px;clear: left"></div>
</div>

</div>
</div>
