
<!DOCTYPE html>
<html>
<head>
  <title>Home login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

  <div class="page-header">
    <div class="bk-header">
      <div class="bk-top-header">
        <div class="container">
          <div class="navbar-header">
            <%if device_type == :mobile %>
                <div class="m-logo-header"></div>

            <%else%>
              <a href="/home/index/"> <div class="logo-header "></div></a>
            <%end%>
          <!--  <%if device_type != :mobile %>
                <a href="/home/locations"><div class="home-login-poniter"></div></a>


                <%end%>-->
            <form  action="/home/search" >
              <%if device_type == :mobile %>
                <div class="m-search-home">
                    <input  type="button"/>
                </div>
              <%else%>
                <div class="search-home">
                  <input placeholder="search" name="keyword" type="text"/>
                  <input type="submit" class="button-search-submit" value="">
                </div>
               <%end%>
               </form>
            <div class="button-review">
              <a href="/home/review">
              <input type="button" value="REVIEW" name="REVIEW">
                  </a>
            </div>

            <div class="button-profile">
              <% if user_signed_in? %>
                  <a href="/home/userprofile?id=<%=current_user.id%>">
                    <%= image_tag(@profile.avatar.url(:thumb), :class=>"pull-right img-responsive img-circle",:style=>"width:40px") %>
                  </a>
              <%else%>
                  <a href="/home/userprofile?id=">
                    <%= image_tag("/Uploads/avatar/avatar.png") %>
                  </a>
              <%end%>
            </div>
            <%if user_signed_in? %>
                <%= link_to(image_tag("logout.png"), destroy_user_session_path, :method => :delete, :id=>"btnlogout") %>

            <%end%>
          </div>


        </div>
      </div>
      <div class="bk-content-header">
        <div class="img-bk-content-header">
          <%= image_tag("/images/08.png") %>
        </div>
        <div class="text-bk-content-header">
          <div class="style_select">
            <%= form_tag("/home/login", method: "post") do %>

            <%= select_tag :city_id, options_for_select(@location.collect {|p| [ p.name, p.id ] }, @city_id), :onchange => "this.form.submit()" %>
            <%end%>
          </div>

        </div>
       <!-- <div class="img-text-bk-content-header"></div>-->
      </div>
    </div>

    <%= form_tag("/home/login", method: "post",id:"searcformrr") do %>
        <div class="menu-top-header">
          <div class="container">
            <!--<%if device_type == :mobile %>
            <div class="item-menu-top-header"><a href="#" >Filter </a></div>
            <%else%>
            <div class="item-menu-top-header"><a href="#" >LOCATION </a></div>
            <div class="item-menu-top-header"><a href="#" >BEEF </a></div>

            <div class="item-menu-top-header"><a href="#" >this filter </a></div>
            <div class="item-menu-top-header"><a href="#" >another filter</a> </div>
            <%end%>-->
            <div class="item-menu-top-header" onclick="hovermenu()" ><a href="javascript:void(0)" >Filter <%=@kkk%></a></div>
            <div style="float: left;width: 50px;height: 55px;border-right: 1px solid #ccc;"></div>
            <div class="item-menu-top-header-filter" id="show-data-select">
              <%if @listvalue.present?%>
                  <%@listvalue.each do |item|%>
                      <div class='item-nnnn' id='remove-id-<%=item.id%>'>
                        <div class='cls-input-auto' ><div class='text-select-item'><%=item.name%></div><div onclick='closeritem(<%=item.id%>)' class='cls-close-menu'>x</div></div>

                      </div>
                  <%end%>
              <%end%>
            </div>
            <input name="idcomponennt" value="<%=@kk%>" type="hidden" id="listdatata">
          </div>
        </div>
    <%end%>
    <div class="cl"></div>
    <input type="hidden" id="idcitycureent" value="<%=@city_id%>">
    <%if @listvalue.present?%>
        <%_show="display:block" %>
    <%else%>
        <%_show="display:none" %>
    <%end%>


    <div class="menu-filter" id="menu-filter" style="<%=_show%>">
      <div class="container">
        <div class="container-menu-filter">
          <%_ko=0%>
          <%@componant.each do |item|%>
              <div class="container-item">
                <div class="menu-text-file"><%=item.name%></div>
                <div class="menu-item-filter">
                  <%item.getvalue.each do |k|%>
                      <%_select=""%>
                      <%if @listvalue.present?%>
                          <%@listvalue.each do |hokk|%>
                              <% if k.id==hokk.id %>
                                    <% _select='class=check-active-select' %>
                              <%end%>
                          <%end%>
                      <%end%>
                       <div <%=_select%>  onclick="additem(<%=k.id%>)" id="item-component_<%=k.id%>" class="item-nemu-text"><%=k.name%></div>
                  <%end%>
                </div>
              </div>
              <%_ko=_ko+1%>
              <%if(_ko%4==0)%>
                <div class="clearfix"></div>
              <%end%>
          <%end%>


        </div>
        </div>
      </div>
  </div>
</header>
<%= yield %>

</body>
</html>
