<nav id="navbar-container-fluid" class="container-fluid navbar">

  <div id="navbar-container" class="container">

    <div id="col-logo" class="col-md-5 col-xs-5">
      <%if user_signed_in? %>
          <a href="/login">
            <% if device_type == :mobile %>
                    <img id="logo" src="/assets/userprofile/logo-mobile.png" />
                <%else%>
                    <img id="logo" src="/assets/userprofile/logo.png" />
             <%end%>
          </a>
          <%else%>
          <a href="/index">
            <img id="logo" src="/assets/userprofile/logo.png" />
          </a>
          <%end%>

    </div>

    <div id="col-form-search" class="col-md-5 col-xs-5">
      <form id="form-search" action="/search">
        <!--
        <img id="icon-map" src="/assets/userprofile/map.png" />
        -->
        <%if device_type != :mobile %>
        <% if @keyword.nil? %>
            <input name="keyword" id="txt-search" placeholder="Search" />
        <% else %>
            <input name="keyword" id="txt-search" value="<%= @keyword %>" />
        <% end %>
            <%end%>
        <%if device_type == :mobile %>
            <button id="btn-search" data-toggle="modal" data-target="#myModalSearch" type="button"></button>

        <% else %>
            <button id="btn-search"  type="submit"></button>
        <%end%>

      </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="top:70px">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Search Burgers</h4>
          </div>
          <div class="modal-body loginnnnnn">


            <div role="tabpanel" class="tab-pane active" id="Email" style="padding-left: 10px;padding-top: 10px">
              <form action="/search" method="post">
                <div class="form-group">
                  <label for="recipient-name" class="control-label">KeyWord:</label>
                  <input type="text" name="keyword" class="form-control" id="recipient-name">
                  <span id="error-email" style="color: red"></span>
                </div>

              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary">Search</button>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div id="col-review" class="col-md-1 col-xs-1">

        <%if user_signed_in? %>
          <a href="/reviewuser">
                <button id="btn-review-top">REVIEW</button>
          </a>
            <%else%>
          <a href="#">
                <button id="btn-review-top" data-toggle="modal" data-target="#checkreview">REVIEW</button>
            <!-- Modal -->
            <div class="modal fade" id="checkreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="top:70px">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Notification</h4>
                  </div>
                  <div class="modal-body loginnnnnn">
                    <p style="color: #666">You must be logged in to review a burger. Please sign-in or create an account</p>
                  </div>

                </div>
              </div>
            </div>
          </a>
        <%end%>

    </div>

    <div id="col-avatar" class="col-md-1 col-xs-1">
      <% if user_signed_in? %>
          <%= link_to(image_tag(@myprofile.avatar.url(:thumb), :id=>"avatar", :class=>"img-circle img-responsive"), :controller => :home, :action => :userprofile,:id=>current_user.id) %>
          <a href="/home/news">
            <img id="icon-avatar" class="img-circle img-responsive" src="/assets/userprofile/icon-avatar.png" />
          </a>
      <%else %>
          <%= image_tag("/Uploads/avatar/avatar.png",:class=>"img-circle img-responsive",:id=>"avatar") %>
      <%end%>

    </div>
  </div>

  <%if user_signed_in? %>

      <%if device_type != :mobile %>
          <%= link_to("LOGOUT", destroy_user_session_path,:class=>"pull-right" ,:method => :delete, :id=>"btn-logout") %>
      <%else%>
          <%= link_to(image_tag("logout.png"), destroy_user_session_path, :method => :delete, :id=>"btnlogout",:class => "btnlogoutnava") %>
      <%end%>
  <%end%>

</nav>