<!DOCTYPE html>
<html>
<head>
  <title>Burger Profile</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"%>
  <%= csrf_meta_tags %>
</head>
<body>
<header>



  <div class="bk-top-header">
    <div class="container">
      <div class="navbar-header">
        <%if device_type == :mobile %>
            <div class="m-logo-header"></div>

        <%else%>
            <div class="logo-header "></div>
        <%end%>
        <%if device_type != :mobile %>
            <div class="home-login-poniter"></div>


        <%end%>

        <%if device_type == :mobile %>
            <div class="m-search-home">
              <input  type="button"/>
            </div>
        <%else%>
            <div class="search-home">
              <input placeholder="search" type="text"/>
            </div>
        <%end%>

        <div class="button-review">
          <input type="button" value="REVIEW" name="REVIEW">
        </div>
        <div class="button-profile">
          <%= image_tag("/Uploads/avatar/avatar.png") %>
        </div>
      </div>


    </div>
  </div>



  <div class="containte-menu-locations">
    <div class="container">
      <div class="item-menu-locations">
        <span>All</span>
      </div>
      <div class="item-menu-locations">
        <span>my planned experiences</span>
      </div>
      <div class="item-menu-locations">
        <span>my  experiences</span>
      </div>
    </div>
  </div>
</header>
<%= yield %>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see a blank space instead of the map, this
    // is probably because you have denied permission for location sharing.

    var map;

    function initialize() {

        var mapOptions = {
            zoom: 15
        };
        map = new google.maps.Map(document.getElementById('map-canvas-location'),
                mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                        position.coords.longitude);

                var infowindow = new google.maps.InfoWindow({
                    map: map,
                    position: pos,
                    content: '19.6'
                });

                map.setCenter(pos);
            }, function() {
                handleNoGeolocation(true);
            });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map: map,
            position: new google.maps.LatLng(60, 105),
            content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>
