<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home index</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header-container" class="container-fluid">
  <div id="header-content" class="container">
    <%= devise_flash %>
    <a href="/home/login"><button id="btn-login" class="pull-right">LOGIN</button></a>

    <div id="header-top" class="row">

      <img style="width: 33%" class="center-block img-responsive" id="arrow-up" src="/assets/arrow-up.png" alt=""/>

      <h1 id="introduct-top" class="introduct center-block">
        The best Burger rating system
      </h1>

      <h1 id="introduct-bottom" class="introduct center-block">
        on the planet
      </h1>

      <button id="btn-signup" class="center-block">SIGN UP</button>

      <p id="sign-ups" class="center-block">
        <span>Sign up using</span>
      <ul id="signup-list" class="center-block">
        <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <li><%= link_to "Google+", user_omniauth_authorize_path(:google_oauth2) %></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Email</a></li>
      </ul>
      </p>

    </div>
    <!--End header-top-->
  </div>
  <!-- End header -->
</div>
<!-- End header-container -->

<div class="container" id="main-container">
  <p class="notice"><%=notice%></p>
  <p class="alert"><%=alert%></p>

  <%= yield %>
</div>
<!-- End main-container -->


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>