<!DOCTYPE html>
<html>
<head>
  <title>Home login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

  <div class="page-header">
    <div class="bk-header">
      <div class="bk-top-header">
        <div class="container">
          <div class="navbar-header">
            <div class="logo-header ">

            </div>
            <div class="home-login-poniter"></div>
            <div class="search-home">
              <input placeholder="search" type="text"/>
            </div>
            <div class="button-review">
              <input type="button" value="REVIEW" name="REVIEW">
            </div>
            <div class="button-profile">
              <%= image_tag("/Uploads/avatar/avatar.png") %>
            </div>
          </div>


        </div>
      </div>
      <div class="bk-content-header">
        <div class="img-bk-content-header">
          <%= image_tag("/images/08.png") %>
        </div>
        <div class="text-bk-content-header">
          San Francisco
        </div>
        <div class="img-text-bk-content-header"></div>
      </div>
    </div>

    <div class="menu-top-header">
      <div class="container">
        <div class="item-menu-top-header"><a href="#" >LOCATION </a></div>
        <div class="item-menu-top-header"><a href="#" >BEEF </a></div>

        <div class="item-menu-top-header"><a href="#" >this filter </a></div>
        <div class="item-menu-top-header"><a href="#" >another filter</a> </div>
      </div>
    </div>
  </div>
</header>
<%= yield %>

</body>
</html>
