<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User profile</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>


<div id="profile-header-container"  class="container-fluid">

  <div id="layer-profile-header-container"></div>

  <%= render partial: "navbar" %>

  <%= render partial: "profile", locals: {profile: @profile} %>
  <!-- End header -->
</div>
<!-- End header-container -->

<div id="menu-bar-container" class="container-fluid">
    <div id="menu-bar" class="container">
      <div id="menu-item-boss" class="menu-item">
        <h5>INVOLVEMENT</h5>
        <h2>BOSS</h2>
      </div>
      <div id="menu-item-reviews" class="menu-item">
        <h5>PASSIONATE REVIEWS</h5>
        <h2>32</h2>
      </div>
      <div id="menu-item-loved" class="menu-item">
        <h5>FOLLOWERS</h5>
        <h2><%= @friend.get_numFollows() %></h2>
      </div>
      <div id="menu-item-follow" class="menu-item">
          <% if(@isFollowed) %>
              <button id="btn-follow" disabled> FOLLOWED</button>
          <% else %>
              <button data-friendId="<%= @friend.id %>" id="btn-follow"> FOLLOW</button>
          <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
</div>


<div class="container" id="main-container">
  <%= yield %>
</div>
<!-- End main-container -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script>

  function responsive(){


    var width = $(window).width();

    if (width <= 470) {
        $('#profile-user-image').removeClass('pull-right').addClass('center-block');
        $('#col-profile-info').addClass('center-block');
        $('#logo').attr('src', '/assets/userprofile/logo-mobile.png')
    }else{
        $('#profile-user-image').removeClass('center-block').addClass('pull-right');
        $('#col-profile-info').removeClass('center-block');
        $('#logo').attr('src', '/assets/userprofile/logo.png')
    }
  };

  $(document).ready(function(){

      responsive();

      $(window).resize(function() {
          responsive();
      });

      $('#btn-follow').click(function(){

        var friendId = $(this).attr('data-friendId');
        console.log(friendId);
        data = {friend_id: friendId};

        $.ajax({
            type: "POST",
            url: 'follow',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(data),
//            data: {friend_id: friendId},
            success: function(data, status)
            {
                if(data['status'] == true)
                {
                    $('#btn-follow').text("FOLLOWED").attr('disabled','disabled');
                }

//                console.log('success');
            },
            error: function(data, status)
            {
                console.log('error');
            }
        });

      });// end click

  });// end ready
</script>

</body>
</html>